<ion-header>
  <!-- 검색용 박스 -->
  <ion-item class="searchingBox">
    <ion-input id="input" placeholder="currentSearched" [(ngModel)]="inputData"
    (ionChange)="search()">
    </ion-input>
    <ion-button class="searchingButton mapButton" (click)="search()">
      <ion-icon slot="icon-only" name="search-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <!-- 뒤로 가기 버튼 만들기 필요 -->
</ion-header>

<ion-content>
  <!-- 검색박스용 패딩 -->
  <div class="TopPadding">
  </div>

  <ion-list>
    <!-- 푸드트럭 결과 -->
    <!-- 푸드트럭 결과는 클릭하면 바로 정보로 라우팅 -->
    <!-- 주소 결과 -->
    <search-resultItem *ngFor="let result of addressResults" (selected)="select($event)"
      lat="{{result.location.lat}}" lng="{{result.location.lng}}">
      <ion-label>{{result.address}}</ion-label>
    </search-resultItem>
    <!-- 키워드 결과 -->
    <search-resultItem *ngFor="let result of keywordResults" (selected)="select($event)"
      lat="{{result.location.lat}}" lng="{{result.location.lng}}">
      <ion-label>{{result.name}}</ion-label>
    </search-resultItem>
  </ion-list>
</ion-content>
