<ion-header>
  <!-- 검색용 박스 -->
  <ion-item class="searchingBox">
    <ion-input id="input" placeholder="currentSearched" [(ngModel)]="inputData"
    (ionChange)="startSearch()">
    </ion-input>
    <ion-button class="searchingButton mapButton" (click)="search()">
      <ion-icon slot="icon-only" name="search-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <!-- 뒤로 가기 버튼 만들기 필요 -->
</ion-header>

<ion-content>
  <!-- 검색박스용 패딩 -->
  <div class="TopPadding">
  </div>

  <ion-list>
    <!-- 푸드트럭 결과 -->
    <!-- 푸드트럭 결과는 클릭하면 바로 정보로 라우팅 -->

    <!-- 주소 결과 -->
    <search-resultItem *ngFor="let result of addressResults; let i = index" 
    (selected)="select($event)" type="{{addressType}}" index="{{i}}">
    </search-resultItem>
    <!-- 키워드 결과 -->
    <search-resultItem *ngFor="let result of keywordResults; let i = index" 
    (selected)="select($event)" type="{{keywordType}}" index="{{i}}">
    </search-resultItem>
  </ion-list>
</ion-content>
