@import 'src/theme/values.scss';

.TopPadding {
    height: $top-space + $searchBox-height;
}


.searchingBox {
    border: 1px solid #3880ff;

    position: absolute;
    top: $top-space;
    left: $left-space;
    right: $right-space;
    width: auto;
    height: $searchBox-height;
    z-index: 20;
    --inner-padding-end: 5px;
}

.searchingButton {
    float: right;
    --box-shadow: 0;
}

.mapButton {
    --padding-start: 0px;
    --padding-end: 0px;
    --background: white;
    --color: black;
    width: 32px;
    height: 32px;
}