<ion-card>
  <ion-item>
    <h4 name=location, slot="start"> A{{location}}</h4>
   
  </ion-item>
  <img src="../assets/icon/foodtruck.png" alt="ion">
  <ion-card-header>
    
    <ion-card-title>닭발 트럭{{foodtruckList}}, {{str}}</ion-card-title>
    <ion-card-subtitle>
       {{inform}}
      치즈 닭발, 매운닭발(1~3 단계), 무뼈닭발/뼈닭발 있습니다.
    </ion-card-subtitle>
      <button>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half"></ion-icon>
        4.5점
       
      </button>
      <ion-label>대기 {{wating}}5명</ion-label>
  </ion-card-header>


  <ion-footer>
   
    <ion-label> 공지사항 없음</ion-label>
      

  </ion-footer>

</ion-card>
