.fullscreen{
    top: 0 !important;
    left: 0 !important;
    display: block;
    width: 100% !important;
    height: 100% !important;
}

// ion-slides {
// }
.scrollable{
    overflow-y: scroll;
    display:block;
}

.center {
    min-height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.checkbox{
    margin-right: 1.2em;
}

.total-price{
    text-align: right;
    font-size: 1.3em; 
}

.bt-count{
    padding: 0em 1.0em;
}