<ion-header>
  <ion-toolbar>
    <ion-title>
      주문 목록
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <order-waiting-order-list class="center"></order-waiting-order-list> -->

  <ion-card>
    <ion-card-content>
      
    <!-- ft-view start-->
    <!-- ft-view end-->
  
  
  <ion-list>
    <!-- ft-menu-item  start-->
      <ion-item>
        메뉴 A - 옵션 A    1개
      </ion-item>
      
      <ion-item>
        메뉴 A - 옵션 B     1개
      </ion-item>
    <!-- ft-menu-item end-->                                                                                                                                                                                                                                                                                                                     
    </ion-list>
  
    
    <!-- total_price start-->
    <div>총 10000원</div>
    <!-- total_price end-->   
  
    </ion-card-content>
  </ion-card>

  
</ion-content>
