<ion-header>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" [value]="slideValue">
      <ion-segment-button value="0">
        <ion-label>주문 목록</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>주문 이력</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides class="fullscreen" (ionSlideWillChange)="slideChanged()" [options]="slideOpts">
    <ion-slide>
      <order-wating-order-list></order-wating-order-list>
    </ion-slide>
    <ion-slide>
      <order-order-history-list></order-order-history-list>
    </ion-slide>
  </ion-slides>

</ion-content>
