
   <!-- <ion-grid no-padding>
     <ion-row no-padding>
      <ion-col no-padding col-2 *ngFor="let foodtruck of foodtruckList" class="foodtruck-list-cards">
  
        <app-cardview name="{{foodtruck.name}}" locate="{{foodtruck.locate}}"
        inform="{{foodtruck.inform}}" distance="{{foodtruck.distance}}"
        grade="{{foodtruck.grade}}" wating="{{foodtruck.wating}}" notice="{{foodtruck.notice}}"
        truckImage="{{foodtruck.src}}"
      routerLink="foodtruck/{{foodtruck.id}}" >
        </app-cardview>
     
      </ion-col>
    </ion-row>
    </ion-grid> -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>푸드트럭 목록</ion-title>
  </ion-toolbar>
</ion-header>

 <!-- <ion-content>
  <ion-list class="foodtruck-list">
    
    <ion-item class="foodtruck-list-cards"> 
      <app-cardview *ngFor="let foodtruckId of foodtruckIdList"
      class="foodtruck-item"
      foodtruckId="{{i}}"
      (click)="foodtruckClicked(i)">
      </app-cardview>
    
     id: {{foodtruck.id}}, name: {{foodtruck.name}} 
     </ion-item> 
  </ion-list>
</ion-content>  -->
<comp-ft-view></comp-ft-view>

