<ion-list>

<ion-list-header>
  <ion-badge color="light" class="bold">{{pot}}</ion-badge>
  <!-- <ion-label class="bold">{{pot}} </ion-label> -->
  <comp-tag-dist lat={{lat}} lng={{lng}} ></comp-tag-dist>
  <comp-tag-waiting></comp-tag-waiting>

 </ion-list-header>

<ion-item>
 
    <comp-ft-img slot="start" class="img" foodtruckId={{foodtruckId}}></comp-ft-img>


  <ion-label>

    <ion-label> <h2>{{name}}</h2> </ion-label>
    <ion-label> <h3>{{introduction}}</h3> </ion-label>
    <ion-label> <p>{{notice}}</p> </ion-label>
  
    
  </ion-label>
</ion-item>
</ion-list>

