<!-- <ion-card>
  <ion-card-header>
      <img src="../assets/icon/foodtruck.png" alt="ion" >
    <ion-card-title>간식 트럭{{foodtruck_id}}{{foodtruck_name}}</ion-card-title>
    <ion-card-subtitle>도넛/와플{{foodtruck_inform}}</ion-card-subtitle>

  </ion-card-header>

  <ion-badge >
      <ion-icon name="star"></ion-icon>
      {{foodtruck_grade}} 점
  </ion-card-content>
</ion-card> -->

<ion-card>
  <ion-card-header>
      <img src="{{menuImage}}" alt="ion">
    <ion-card-title>{{id}}  {{name}}</ion-card-title>
    <ion-card-subtitle>{{inform}}</ion-card-subtitle>
    <ion-label>기본가격:{{price}}원</ion-label>
   
  </ion-card-header>
</ion-card>



