<ion-card>
  <ion-card-content>
    
  <!-- ft-view 시작-->
  <!-- ft-view 끝-->

  <ion-list>
    <!-- ft-menu-item 시작-->
      <ion-item>
        메뉴 A - 옵션 A    1개
      </ion-item>
    <!-- ft-menu-item 끝-->                                                                                                                                                                                                                                                                                                                     
    </ion-list>
  
    <div>총 {{calcTotalPrice}} 원</div>

  </ion-card-content>
</ion-card>
