<ion-card>
  <ion-card-content>
    
  <!-- ft-view start-->
  <!-- ft-view end-->


  <!-- <ion-list *ngfor=""> -->
  <!-- ft-menu-item  start-->
  <!-- ft-menu-item end-->                                                                                                                                                                                                                                                                                                                     
  <!-- </ion-list> -->

  
  <!-- total_price start-->
  총 10000원
  <!-- total_price end-->   

  </ion-card-content>
</ion-card>