<!-- basket-view 시작 -->
<ion-card>
  <ion-card-content>
    
  <!-- ft-view 시작-->
  <comp-ft-view></comp-ft-view>
  <ion-icon name="menu"></ion-icon>
  <!-- ft-view 끝-->

  <ion-list>
        <basket-item [menuData]="menuData" [optionData]="optionData"></basket-item>                                                                                                                                                                                                                                                                                                  -->
    </ion-list>
  
    <div class="total-price">총 {{totalPrice}} 원</div>

  </ion-card-content>
</ion-card>
