<ion-header>
  <ion-toolbar class="ion-text-center" color="dark" (click)="onToolbarClicked()">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>    
      <!-- <ion-input placeholder={{getLatitude}}{{getLongitude}}></ion-input> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" class="map"></div>
</ion-content>

<h3>map works!</h3>
<p>
  {{getLatitude}}<br>
  {{getLongitude}}<br>
</p>
