<ion-header>
  <!-- (click)="onToolbarClicked()" -->
  <ion-toolbar class="ion-text-center" color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="dismissCancel()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>     
    <ion-item>
      <ion-label floating>주소 입력 : </ion-label>
      <ion-input type="text" [(ngModel)]="inputAddress" text-right id="inputAddress" placeholder={{getLatitude}}{{getLongitude}}></ion-input>
      <ion-button (click)="alertAddress()"> > </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" class="map"></div>
  <p>
    <ion-button (click)="dismissOK()">OK</ion-button>
    <ion-button (click)="getCurrentPosition()">현위치</ion-button>
  </p>
</ion-content>

