<ion-list>
  <ion-item *ngFor="let foodtruck of foodtruckList" class="foodtruck-list-cards">
    <app-cardview name="{{foodtruck.name}}" locate="{{foodtruck.locate}}"
     inform="{{foodtruck.inform}}" distance="{{foodtruck.distance}}"
    grade="{{foodtruck.grade}}" wating="{{foodtruck.wating}}" notice="{{foodtruck.notice}}"
    truckImage="{{foodtruck.truckImage}}"
   routerLink="foodtruck-info/{{foodtruck.id}}" >
    </app-cardview>
  
    <!-- id: {{foodtruck.id}}, name: {{foodtruck.name}}  -->
  </ion-item>

</ion-list>


