<ion-list>
  <ion-item *ngFor="let foodtruck of foodtruckList" class="foodtruck-list-cards">
    <app-cardview str="{{foodtruck.name}}" routerLink="foodtruck-info/{{foodtruck.id}}"></app-cardview>
    id: {{foodtruck.id}}, name: {{foodtruck.name}}
  </ion-item>
   <!-- <ion-item *ngFor="let locate of location">

   <app-cardview locate="{{locate}}"></app-cardview>
[routerLink]="'foodtruck-info/'+foodtruck" (click)="test(locate)"
  </ion-item>

  <ion-item *ngFor="let inform of inform">
    <app-cardview inform="{{inform}}" ></app-cardview>

  </ion-item> -->

<!--
  <ion-item *ngFor="let wait_to_person of wating">
    <app-cardview wating="{{wait_to_person}}" [routerLink]="'foodtruck-info/' + foodtruck" (click)="test(foodtruck)"></app-cardview>

  </ion-item> -->
  <!-- [routerLink]="'foodtruckInfo/' + 11'" -->
</ion-list>

   <!-- [routerLink]="'foodtruckInfo/' + 11'" -->
