.foodtruck-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.foodtruck-item {
    flex-grow: 1;
    flex-basis: 180px;
    align-self: stretch;
    max-width: 300px;
}