<ion-header>
  <ion-toolbar>
    <ion-title>내 정보</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <!-- <ion-item (click)="master()">
    <ion-card>
      <ion-card-header>
          <img src={{myFoodtruck.imgSrc}} alt="ion" >
        <ion-card-title>{{myFoodtruck.name}}</ion-card-title>
        <ion-card-subtitle>도넛/와플</ion-card-subtitle>
    
      </ion-card-header>
    <ion-card-content>
      <ion-badge color="danger">
          <ion-icon name="star"></ion-icon>
         default점</ion-badge>
      </ion-card-content>
    </ion-card>
  </ion-item> -->
  
  <!-- <comp-user-account-view></comp-user-account-view> -->
  


  <p *ngIf="owner==true; then ownerView else userView"></p>
    <!-- 사장 -->
  <ng-template #ownerView>
    <ion-card><comp-ft-view></comp-ft-view></ion-card>
    
    <ion-item button (click)="requestPermission()">
      알림 허용하기
    </ion-item>
    <ion-item button (click)="showOrderHistory()">
      주문 기록 보기 [사장]
    </ion-item>
     <ion-item button > 
      내 푸드트럭 QR코드 
    </ion-item>
    <ngx-qrcode 
    elementType="url" 
    [value]="link"
    cssClass="qr-code"
    errorCorrectionLevel="L">
    </ngx-qrcode>
   <!-- <ion-item>
     <qr-code [value]="qrData" [size]="200"></qr-code>
      </ion-item> -->
  </ng-template>
  <!-- 손님 -->
    <ng-template #userView>
      <comp-user-account-view></comp-user-account-view>
      <ion-item button (click)="requestPermission()">
        알림 허용하기
      </ion-item>
      <ion-item button (click)="showOrderHistory()">
        주문 기록 보기 [손님]
      </ion-item>
</ng-template>
   
    <!-- <ion-toggle [(ngModel)]="admin"></ion-toggle> 
    <ion-label>사용자 계정정보</ion-label> -->
    
 
</ion-content>
