<ion-header>
  <ion-toolbar>
    <ion-title>내 정보</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item (click)="master()">
    <ion-card>
      <ion-card-header>
          <img src={{myFoodtruck.imgSrc}} alt="ion" >
        <ion-card-title>{{myFoodtruck.name}}</ion-card-title>
        <ion-card-subtitle>도넛/와플</ion-card-subtitle>
    
      </ion-card-header>
    <ion-card-content>
      <ion-badge color="danger">
          <ion-icon name="star"></ion-icon>
         default점</ion-badge>
      </ion-card-content>
    </ion-card>
  </ion-item> -->

  <comp-user-account-view></comp-user-account-view>

    
  
  

  <ion-item>
    <!-- <ion-toggle [(ngModel)]="admin"></ion-toggle> -->
    <ion-label>사용자 계정정보</ion-label>
  </ion-item>
  <ion-item button (click)="requestPermission()">
    알림 허용하기
  </ion-item>
  <ion-item button (click)="showOrderHistory()">
    주문 기록 보기
  </ion-item>
</ion-content>

