<ion-card>
  <ion-card-header>
      <img src="../assets/icon/foodtruck.png" alt="ion" >
    <ion-card-title>간식 트럭</ion-card-title>
    <ion-card-subtitle>도넛/와플</ion-card-subtitle>

  </ion-card-header>

  <ion-card-content>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star-half"></ion-icon>
      4.5점
  </ion-card-content>
</ion-card>

<ion-card name="menu">
  <ion-item>
      <img src="../assets/icon/waffle.png" alt="ion">
    <ion-label>와플</ion-label>
    <ion-label>직접만든 반죽으로 만든 와플</ion-label>
    <ion-label>기본가격: 3000원</ion-label>
   
  </ion-item>


</ion-card>
<ion-card name="menu">
  <ion-item>
      <img src="../assets/icon/donut.png" alt="ion">
    <ion-label>도넛</ion-label>
    <ion-label>직접만든 반죽으로 만든 도넛</ion-label>
    <ion-label>기본가격: 3000원</ion-label>
   
  </ion-item>


</ion-card>

