<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>menu-info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-header>
    <ion-card>
      <img class="menu_img" src="../assets/icon/waffle.png" alt="ion" >
        <ion-card-title>{{menuData.menuName}}</ion-card-title>
        <ion-card-subtitle>기본가격: {{menuData.price}}원</ion-card-subtitle>
      
    </ion-card>
    </ion-header>
    
    <ion-content ng-controller="MyCtrl as ctrl">
          <ion-list class="row header">
              <ion-radio-group (ionChange)="pickHandler($event)">
                <ion-list-header>
                  <ion-label>옵션명    추가가격   개수 {{isCheckedValue}} </ion-label>
                </ion-list-header>
                <ion-item class="option-list" *ngFor="let option of optionList; let i = index">
                  <app-pick-menu-option id="{{option.id}}" name="{{option.name}}" extraPrice="{{option.extraPrice}}"></app-pick-menu-option>
                </ion-item>
            </ion-radio-group>
          </ion-list>

          <ion-button class="button-to-basket"> {{price}} 원 구매하기
          </ion-button>
    </ion-content>
</ion-content>
