<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>menu-info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pick-menu-option menu_id="히히와플" menu_price="2500" imgsrc="../assets/icon/waffle.png" option_data="">  </app-pick-menu-option>

  <!-- <ion-col no padding col-2 *ngFor="let menu of op; let i = index" class="foodtruck-info-cards">
    <app-menu-list id="{{menu.menuID}}" name="{{menu.menuName}}" inform="{{menu.menuInform}}"
  price="{{menu.price}}" menuImage="{{menu.src}}"
  (click)="menuClicked(i)">
  
  </app-menu-list> 
  
 
</ion-col> -->
</ion-content>
