<ion-card >
<ion-item>
    <h5 class="slide-title" name=location, slot="start"> {{locate}}  {{distance}}m</h5>
  </ion-item>
  <img src="{{truckImage}}" alt="ion">
  
      <ion-card-header>
        
        <ion-card-title>{{name}}</ion-card-title>
        <ion-card-subtitle>
          {{inform}}
        </ion-card-subtitle>
          <button>
            <ion-icon name="star"></ion-icon>
          
          {{grade}}점
          </button>
          <ion-label>대기 {{wating}}명</ion-label>
      </ion-card-header>

  <ion-footer>
      <p class="slide-notice">hello {{notice}} </p>

  </ion-footer>

</ion-card>
