<ion-card >
  <ion-item>
    <ion-label id="slide-title" name=location, slot="start"> {{locate}}  {{distance}}m</ion-label>
  </ion-item>

  <ion-img class="slide-img" src="{{truckImage}}" alt="ion"></ion-img>
  
      <ion-card-header>
        
        <ion-card-title>{{name}}</ion-card-title>
        <ion-card-subtitle>
          {{inform}}
        </ion-card-subtitle>
          <ion-badge color="danger">
            <ion-icon name="star"></ion-icon>
          
          {{grade}}점
          </ion-badge>

          <ion-badge color="warning">
         
           <ion-label>대기 {{wating}}명</ion-label>
          </ion-badge>
      </ion-card-header>


  <ion-footer>
      <p class="slide-notice">{{notice}} </p>

  </ion-footer>

</ion-card>
