
<ion-item>
  <div class="width100">
    <ion-title>
      {{menuInfo.name}}
      <ion-note>{{optionInfo.name}}</ion-note>
    </ion-title>

    <span class="ion-float-right">
      <ion-icon class="margin5 display-inlineblock" button name="add-outline" (click)="ctrlAmount($event, true)"></ion-icon>
      <ion-label class="ion-text-right display-inlineblock">
        {{orderedMenuInfo.amount}}개
      </ion-label>
      <ion-icon class="margin5 display-inlineblock" button name="remove-outline" (click)="ctrlAmount($event, false)"></ion-icon>
      <ion-label class="margin-left number5 ion-text-right display-inlineblock">{{price}}</ion-label>
    </span>
  </div>
</ion-item>