
.display-block{
   display: block; 
}

.display-inlineblock{
    display: inline-block;
}

.margin5 {
    margin: 5px;
}

.margin-left{
    margin-left: 10px;
}

.number2{
    width: 18px;
}
.number2-count{
    width: 34px;
}
.number5 {
    width: 45px;
}

ion-item{
    flex-flow: column;
}

.width100{
    width: 100%;
}