
ion-item{
    padding: 4px 0px;
}

.item-inner{
   display: block; 
   width: 100%;

   .menu-title{
    display: flex;
    align-items: center;
    padding: 0px 5px;

        .menu-view{
            display: inline-block;
            font-size: large;
        }

        .option-view{
            display: inline-block;
            margin: 0px 8px;
            font-size: small;
        }
    }

    .menu-info{
        float: right;
        .icon-button{
            display: inline-block;
            margin: 5px 10px;
        }
        
        .amount-view{
            display: inline-block;
            text-align: right;
            width: 1.8em;
        }
        
        .price-view{
            display: inline-block;
            text-align: right;
            width: 3.5em;
        }
    }
}











// ion-title{
//     padding: 0px 10px;
// }
