
.display-block{
   display: block; 
}

.order-title{
    font-size: large;
}

.menu-title{
    padding: 0px 5px;
}

.menu-view{
    display: inline-block;
    font-size: large;
}

.option-view{
    display: inline-block;
    margin: 0px 5px;
    font-size: small;
}

.icon-button{
    display: inline-block;
    margin: 5px 10px;
}

.price-view{
    display: inline-block;
    text-align: right;
    width: 3.5em;
}
.amount-view{
    display: inline-block;
    text-align: right;
    width: 1.8em;
}

ion-title{
    padding: 0px 10px;
}
ion-item{
    padding: 8px 0px;
}

.width100{
    width: 100%;
}