<ion-header>
  <ion-toolbar class="ion-text-center" color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    장바구니
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-checkbox (click)="checkboxClicked()" [checked]="allChecked" [indeterminate]="indeterminated"></ion-checkbox> -->
  <ion-checkbox [(ngModel)]="checked" [indeterminate]="indeterminated"></ion-checkbox>
  <span *ngFor="let foodtruckInfo of orderKeys; let i = index">
    <basket-order foodtruckIndex="{{i}}"></basket-order>
  </span>

  <ion-button>{{totalPrice}}원 주문하기</ion-button>

</ion-content>
