<!-- <ion-header>
  <ion-toolbar class="ion-text-center" color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    장바구니
  </ion-toolbar>
</ion-header>

<ion-content>
  <span *ngIf="!isEmpty; then basketList; else emptyBasket"></span>
  
  <ng-template #basketList>
    <ion-checkbox [(ngModel)]="checkValue" [indeterminate]="indeterminated"></ion-checkbox>
    
  </ng-template>

  <ng-template #emptyBasket class="ion-text-center">
    <div class="center">
      <ion-label>장바구니가 비었어요..</ion-label>
    </div>
  </ng-template>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button class="footer-button" expand="full" [disabled]="orderEnable" (click)="orderButtonClicked()">{{totalPrice}}원 주문하기</ion-button>
  </ion-toolbar>
</ion-footer> -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>장바구니</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <!-- <span *ngIf="!isEmpty_true; then basketList; else emptyBasket"></span> -->
  <span *ngIf="!isEmpty_false; then basketList; else emptyBasket"></span>

  <ion-button class="footer-button" expand="full" [disabled]="orderEnable" (click)="addButtonClicked()">주문 1개 추가</ion-button>
  
  <ng-template #basketList>
    <!-- <ion-checkbox [(ngModel)]="checkValue" [indeterminate]="indeterminated"></ion-checkbox> -->
    <div *ngFor="let order of basket"> 
      <comp-ft-basket-view foodtruckId="{{order.foodtruckInfo.id}}"></comp-ft-basket-view>
    </div>
   
    
  </ng-template>

  <ng-template #emptyBasket class="ion-text-center">
    <div class="center">
      <ion-label>장바구니가 비었어요..</ion-label>
    </div>
  </ng-template>
</ion-content>




<ion-footer>
  <ion-toolbar>
    <ion-button class="footer-button" expand="full" [disabled]="orderEnable" (click)="orderButtonClicked()">{{totalPrice}}원 주문하기</ion-button>
  </ion-toolbar>
</ion-footer>