<ion-header>
  <ion-toolbar class="ion-text-center" color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    장바구니
  </ion-toolbar>
</ion-header>

<ion-content >
  <span *ngIf="!isEmpty; then basketList; else emptyBasket"></span>
  
  <ng-template #basketList>
    <ion-checkbox [(ngModel)]="checkValue" [indeterminate]="indeterminated"></ion-checkbox>
    <ion-list>
      <!-- <basket-order 
      *ngFor="let foodtruckInfo of orderKeys; let i = index" 
      foodtruckIndex="{{i}}"></basket-order> -->
      <component-order-cardview *ngFor="let foodtruckInfo of orderKeys; let i = index" 
      orderType="{{orderType}}" orderIndex="{{i}}" ></component-order-cardview>
    </ion-list>
  </ng-template>

  <ng-template #emptyBasket class="ion-text-center">
    장바구니가 비었어요..
  </ng-template>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button class="footer-button" expand="full" [disabled]="orderEnable" (click)="orderButtonClicked()">{{totalPrice}}원 주문하기</ion-button>
  </ion-toolbar>
</ion-footer>
