<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
      <!-- <ion-button (click)="gotoHome()">
        <ion-icon slot="icon-only" name="trash" ></ion-icon>
      </ion-button> -->
    </ion-buttons>
    <ion-title class="ion-text-center">{{foodtruckData.name}}</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
    <!-- {{foodtruck_id}}{{foodtruck_name}}{{foodtruck_inform}} {{foodtruck_grade}}-->
<ion-card>
  <ion-card-header>
      <img src={{foodtruckData.src}} alt="ion" >
    <ion-card-title>{{foodtruckData.name}}</ion-card-title>
    <ion-card-subtitle>도넛/와플</ion-card-subtitle>

  </ion-card-header>
<ion-card-content>
  <ion-badge color="danger">
      <ion-icon name="star"></ion-icon>
     default점</ion-badge>
  </ion-card-content>
</ion-card>


 <ion-grid no-padding>
   <ion-row no-padding>
    <ion-col no padding col-2 *ngFor="let menu of menuList; let i = index" class="foodtruck-info-cards">
        <app-menu-list id="{{menu.menuID}}" name="{{menu.menuName}}" inform="{{menu.menuInform}}"
      price="{{menu.price}}" menuImage="{{menu.src}}"
      (click)="menuClicked(i)">
      
      </app-menu-list> 
      
     
    </ion-col>
  </ion-row>
</ion-grid>  

</ion-content>
