
<ion-content>
  <div class="fullscreen" id="map"></div>

  <!-- 검색용 박스 -->
  <ion-item class="searchingBox">
    <ion-input placeholder="search" [(ngModel)]="inputData">
    </ion-input>
    <ion-button class="searchingButton" (click)="searching()">
      <ion-icon slot="icon-only" name="search-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-button class="foodtruckList" (click)="showFoodtruckList()">
    <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
  </ion-button>

</ion-content>
