@import 'src/theme/values.scss';

.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100% !important;
    height: 100% !important;
}


.searchingBox {
    border: 1px solid #3880ff;

    position: absolute;
    top: $top-space;
    left: $left-space;
    right: $right-space;
    width: auto;
    height: $searchBox-height;
    z-index: 20;
    --inner-padding-end: 5px;
}

.searchingButton {
    float: right;
    --box-shadow: 0;
}

.foodtruckList {
    position: absolute;
    right: $right-space;
    bottom: $bottom-space;
    z-index: 5;
}

.location {
    position: absolute;
    left: $left-space;
    bottom: $bottom-space;
    z-index: 5;
}

.mapButton {
    --padding-start: 0px;
    --padding-end: 0px;
    --background: white;
    --color: black;
    width: 32px;
    height: 32px;
}

.watching {
    --background: #3880ff;
    --color: white;
}

.searchResult {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    // top: $top-space + $searchBox-height - 1px;
    // left: $left-space;
    // right: $right-space;
    // max-height: $searchResult-hieght;
    background: white;
    z-index: 10;
}
