<ion-header>
  <ion-toolbar class="ion-text-center" color="dark" (click)="routingbt()">
    위치를 입력하세요
    <ion-icon name="location-outline"></ion-icon>
  </ion-toolbar>
  <!-- routerLink="basket"  -->
</ion-header>
<ion-button (click)="routingbt()">Go to detail</ion-button>
<!-- 1
<router-outlet></router-outlet>
test -->

<ion-content>
  <home-foodtruck-list></home-foodtruck-list>
  <!-- <span [ngSwitch]="control">
    <span *ngSwitchCase="foodtruckListPage">
    </span>
    <span *ngSwitchCase="foodtruckInfoPage"></span>
    <span *ngSwitchCase="menuInfoPage"></span>
  </span> -->

  <ion-fab vertical="bottom" horizontal="end" name="add" slot="fixed">
    <ion-fab-button (click)="onFabClicked()">
      
    </ion-fab-button>
  </ion-fab>
</ion-content>
