// @import 'src/theme/variables.scss';

.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100% !important;
    height: 100% !important;
}


.searchingBox {
    border: 1px solid #3880ff;

    position: absolute;
    top: 3%;
    left: 3%;
    right: 3%;
    width: auto;
    height: 48px;
    z-index: 5;
    --inner-padding-end: 5px;
}

.searchingButton {
    float: right;
    --box-shadow: 0;
}

.foodtruckList {
    position: absolute;
    right: 5%;
    bottom: 5%;
    z-index: 5;
}

.location {
    position: absolute;
    left: 5%;
    bottom: 5%;
    z-index: 5;
}

.mapButton {
    --padding-start: 0px;
    --padding-end: 0px;
    --background: white;
    --color: black;
    width: 32px;
    height: 32px;
}

.watching {
    --background: #3880ff;
    --color: white;
}