
ion-item {
    visibility: inherit;
    opacity: inherit;
    font: inherit;
    color: inherit;
    line-height: inherit;
    text-align: inherit;
    white-space: inherit;
}

ion-input {
    display: inline;
    visibility: inherit;
    opacity: inherit;
    font: inherit;
    color: inherit;
    line-height: inherit;
    text-align: inherit;
    white-space: inherit; 
}

ion-label{
    visibility: inherit;
    opacity: inherit;
    font: inherit;
    color: inherit;
    line-height: inherit;
    text-align: inherit;
    white-space: inherit;
}

ion-icon{
    display: inline-block;
}