<ion-app>
  <ion-header>
    <ion-card>
      <img src="{{imgsrc}}" alt="ion" >
        <ion-card-title>{{menu_id}}</ion-card-title>
        <ion-card-subtitle>기본가격: {{menu_price}}원</ion-card-subtitle>
      
    </ion-card>
    </ion-header>
    
    <ion-content ng-controller="MyCtrl as ctrl">
     
  
          <ion-list class="row header">
            <ion-label>옵션명    추가가격   개수 </ion-label>

            <ion-item *ngFor="let opt of optionList; let i = index" 
             ><div class="col">딸기   +0원   1개</div></ion-item>
          </ion-list>

        
          
          
          <!-- 
          <app-option-list>
          </app-option-list>
          <app-option-list>
          </app-option-list>  -->
          <!-- <div class="col">딸기   +0원   1개</div>
          <div class="col">초코   +0원   1개</div>
          <div class="col">바나나  +0원   1개</div>
          <div class="col">휘핑크림 +500원</div> -->
          
  
    </ion-content>
  </ion-app>