
<ion-app>
<ion-item>
  <div class="item-inner">
    
    <div class="option-title">
      <ion-radio class ="option-radio" slot="start" color="tertiary" value="{{name}} {{id}}"></ion-radio>
      <ion-label class="option-view">{{name}} {{id}} </ion-label>
    </div>

    <div class="option-info">
      <ion-icon  class="icon-button" 
      name="add-outline" (click)="ctrlAmount(true)"></ion-icon>

      <ion-label class="amount-view">
        {{amount}}개
      </ion-label>

      <ion-icon class="icon-button" 
      name="remove-outline" (click)="ctrlAmount(false)"></ion-icon>

      <ion-label class="extraPrice-view"> +{{extraPrice}}원</ion-label>
    </div>
  </div>
</ion-item>
</ion-app>