<ion-card class="front-card" [class.back-card]="!isFront()">
    <ion-card-content>
      <div *ngIf="isFront()" (click)="toggleFront()">
        <!-- <comp-ft-view foodtruckId={{foodtruckId}}></comp-ft-view> -->
        <!-- <ion-icon name="menu"></ion-icon> -->
        <ion-label> <h2>{{name}}</h2> </ion-label>
        <!-- <comp-ft-img slot="start" class="img" foodtruckId={{foodtruckId}}></comp-ft-img> -->
        <div class="number-text">{{watingNum}}번</div>
      
      </div>

      <div *ngIf="!isFront()" (click)="toggleFront()" >
        <ion-list >
            <!-- <comp-waiting-item></comp-waiting-item> -->
    
            <ion-item *ngFor="let ordered of waitingOrder.orderedMenu" >
              <ion-label>{{ordered.menuinfo.menuName}}</ion-label>
              <ion-label>{{ordered.optioninfo.optionName}}</ion-label>
              <ion-label>{{ordered.amount}}</ion-label>
            </ion-item>                                                                                                                                                                                                                                                                                                                    
          </ion-list>
        </div>
        <!-- <div *ngIf="!isSMapLooking()" >지도 </div>
        <ion-button color="medium" (click)="toggleSMap()">임시로 지도 표시 버튼</ion-button> -->
    <div class="total-price">총 {{price}} 원</div>
  
    </ion-card-content>
  </ion-card>
  
