

.total-price{
    text-align: right;
    font-size: 1.3em; 
}

.bt-count{
    padding: 0em 1.0em;
}

.number-text{
    font-size: 24px;
}

.front-card{
    background-color: white;
}

.back-card{
    background-color: lightgray; 
    --ion-background-color:lightgray;
}