<ion-card-content class="front-card" [class.back-card]="!isFront()" expand="full">

      <ion-list *ngIf="isFront()" (click)="toggleFront()">
        <!-- <comp-ft-view foodtruckId={{foodtruckId}}></comp-ft-view> -->
        <!-- <ion-icon name="menu"></ion-icon> -->
        <ion-label> <h2>{{name}}</h2> </ion-label>
        <!-- <comp-ft-img slot="start" class="img" foodtruckId={{foodtruckId}}></comp-ft-img> -->
        <div class="number-text">{{watingNum}}번</div>
      
      </ion-list>

 
        <ion-list *ngIf="!isFront()" (click)="toggleFront()"  >
            <!-- <comp-waiting-item></comp-waiting-item> -->
    
            <ion-item *ngFor="let ordered of waitingOrder.orderedMenu" >
              <ion-label>
                <h2>{{ordered.menuinfo.menuName}} -  {{ordered.optioninfo.name}} {{ordered.amount}}개</h2>
            
             </ion-label>
            </ion-item>                                                                                                                                                                                                                                                                                                                    
          </ion-list>
       
        <!-- <div *ngIf="!isSMapLooking()" >지도 </div>
        <ion-button color="medium" (click)="toggleSMap()">임시로 지도 표시 버튼</ion-button> -->
    <div class="total-price">총 {{price}} 원</div>
    <ion-item button (click)="orderRecieve()">주문 수령 확인</ion-item>
 
</ion-card-content>
  
