<ion-card class="front-card" [class.back-card]="!isFront()">
    <ion-card-content>
      <div *ngIf="isFront()" (click)="toggleFront()">
        <comp-ft-view foodtruckId={{foodtruckId}}></comp-ft-view>
        <!-- <ion-icon name="menu"></ion-icon> -->
        <div class="number-text">3번</div>
      </div>

      <div *ngIf="!isFront()" (click)="toggleFront()" >
        <ion-list >
            <!-- <comp-waiting-item></comp-waiting-item> -->
    
            <ion-item>
              메뉴 A - 옵션 A    1개
            </ion-item>                                                                                                                                                                                                                                                                                                                    
          </ion-list>
        </div>
        <!-- <div *ngIf="!isSMapLooking()" >지도 </div>
        <ion-button color="medium" (click)="toggleSMap()">임시로 지도 표시 버튼</ion-button> -->
    <div class="total-price">총 10000 원</div>
  
    </ion-card-content>
  </ion-card>
  
