
ion-title ion-checkbox {
    display: inline-block;
    margin: 0px;
}

ion-title ion-label {
    display: inline-block;
}

ion-label ion-checkbox {
    display: inline-block;
    
}

span ion-item {
    display: inline-block;
}