
ion-title ion-checkbox {
    display: inline-block;
    margin: 0px;
}

.ib{
    display: inline-block;
}

.margin5 {
    margin: 5px;
}

.margin-left{
    margin-left: 10px;
}

.number2{
    width: 18px;
}

.number5 {
    width: 45px;
}

// ion-note ion-icon {
//     margin-top: 0px;
//     margin-bottom: 0px;
// }