
  <ion-card>
    <ion-card-header >
      <order-header-basket *ngIf="isBasket()"
       orderIndex="{{orderIndex}}"></order-header-basket>

      <order-header-waiting *ngIf="isWaiting()"
       orderIndex="{{orderIndex}}"></order-header-waiting>
    </ion-card-header>

    <ion-card-content>
      <ion-list #slidingList>
        <ion-item-sliding *ngFor="let menu of menuList; let i = index">

          <order-ordered-menu orderIndex="{{orderIndex}}" orderedMenuIndex="{{i}}"></order-ordered-menu>

          <ion-item-options *ngIf="isBasket()" side="end">
            <ion-item-option color="danger" (click)="deleteItem(i)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>

        </ion-item-sliding>
      </ion-list>

      <div class="card-footer">
        <!-- <span> -->
          <ion-badge color="secondary" class="badges">
            <ion-icon name="people"></ion-icon>
            5명
          </ion-badge>
          <ion-badge color="warning" class="badges">
            <ion-icon name="time"></ion-icon>
            10분
          </ion-badge>
        <!-- </span> -->
        <ion-button *ngIf="isWaiting()" (click)="orderReceived()">수령 확인</ion-button>
      </div>
      

    </ion-card-content>
  </ion-card>