.card-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 13px;
}

.badges{
    display: block;
    margin: 3px 0px;
}

ion-list{
    padding: 0px;
}